body{
    background-image:url("https://i.gifer.com/origin/36/361e97b38f92fab88975aa6dcff853f9_w200.gif");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
}

